<div>
  <h1>Welcome</h1>
  <p>Authenticate via Github</
  Nickname: <%= current_user.try(:nickname) %>
  <li><%= link_to 'Github', user_github_omniauth_authorize_path %></li>
  <li><%= link_to 'Facebook', '/auth/facebook' %></li>
</div>
